<div>
    <ul>
        <li>
            <a routerLink="/routes/profile-switching" routerLinkActive="active">Profile-switching</a>
        </li>
        <li>
            <a routerLink="/routes/permissions" routerLinkActive="active">Permissions</a>
        </li>
        <li>
            <a routerLink="/routes/admin-board" routerLinkActive="active">Admin-board</a>
        </li>
        <li>
            <a routerLink="/routes/system-board" routerLinkActive="active">System-board</a>
        </li>
    </ul>
</div>